*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{

    position: fixed;
}
.header-left{
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width:250px; 
    height: calc(100vh - 70px); 
    background-color: #000; 
    color: #fff; 
    padding: 2rem; 
    display: flex;
    justify-content: space-between;
    
}
.padding-3rem{
    padding-bottom: 3rem;
}

.ul-vert{
    display: flex;
    flex-direction: column;
    list-style: none;
}

main{
    position: fixed;
    width: 80vw;
    height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

}
.header-main{
    position: fixed;
    width: calc(100vw - 250px);
    height: 70px;
    top: 0;
    right: 0;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: end;
}
.button-header{
    color: white;
    border-color: white;
    border-radius: 5rem;
    padding: .5rem;
    background-color: #080b12;
}
.navigation{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    right: 0;
}
.ul-oriz{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}
footer{
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 70px; 
    background-color: #2f2f2f; 
    color: #fff; 
    display: flex;
    justify-content: space-around;
}
.padding-1rem{
    padding: 1rem;
}