*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header{

    position: fixed;
}
.header-left{
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width:200px; 
    height: calc(100vh - 70px); 
    background-color: #000; 
    color: #fff; 
    padding: 0rem 2rem 2rem 1rem; 
    display: flex;
    justify-content: space-between;
    
}
.padding-3rem{
    padding-bottom: 3rem;
}

.ul-vert{
    display: flex;
    flex-direction: column;
    list-style: none;
}

main{
    position: fixed;
    width: calc(100vw - 200px);
    height: calc(100vh - 140px);
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 70px;
    color: white;
    background-color: #141922;
}
.header-main{
    position: fixed;
    width: calc(100vw - 200px);
    height: 70px;
    top: 0;
    right: 0;
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: end;

   
}
.button-header{
    color: white;
    border-color: white;
    border-radius: 5rem;
    padding: .5rem;
    background-color: #080b12;
}
.navigation{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 250px);
    right: 0;
}
.ul-oriz{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    
}
footer{
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 70px; 
    background-color: #2f2f2f; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.padding-1rem{
    padding: .75rem;
}

.container{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: start;
    justify-content: flex-start;
}

.allineamento-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}
.colonna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    
}
.padding-top-1rem{
    padding-top: 1rem;
}
.padding-left-2rem{
    padding-left: 2rem;
}
.padding-right-2rem{
    padding-right: 2rem;
}
.box{
    width: 10rem;
    height: 10rem;
    background-color: white;
}
.nome-song{
    font-size: 13px;
}
.round-box{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
}
.sub{
    color: #676a70;
    font-size: 11px;
}

.box-footer{
    width: 2rem;
    height: 2rem;
    background-color: white;    
}

.space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}

.icone{
    display: flex;
    flex-direction: row;
}

.music-bar{
    height: 2px;
    width: 20em;
    background-color: #565656;
}
.livello{
    height: 2px;
    width: 20%;
    background-color: white;
}

.sound-bar{
    height: 2px;
    width: 10rem;
    background-color: #565656;
}

.padding-right{
    padding-right: 2rem;
}
.align-center{
    display: flex;
    align-items: center;
    
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.scritte-header{
    font-size: 12px;
    color: #6d6f74;
}
h1{
    font-size: 20px;
}
img{
    height: 10rem;
    width: 10rem;
    
}
.roud-img{
    border-radius: 50%;
}
.paddin-bottom{
    padding-bottom: 1rem;
}
#img-footer{
    width: 2rem;
    height: 2rem;
}
.barra-riproduzione{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
}
.fa-circle-play{
    font-size: 25px;
}
.align-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
.padding-right-05{
    padding-right: .5rem;
}
.padding-left-05{
    padding-left: .5rem;
}
.fa-square-plus{
    font-size: 30px;
    color: #a3a3a3;
}
.playlist-style{
    color: #686868;
}
.font-size-playlist{
    font-size: 13px;
    font-weight: bold;
}
.fa-circle-user{
    font-size: 25px;
    color: #a3a3a3 ;
}
.icon-top-left{
    font-size: 25px;
    
}
.padding-bottom-05{
    padding-bottom: .5rem;
}
.weight-lighter{
    font-weight: lighter;
}
.dimensione-logo{
    height: 40px;
}
.logo-div{
    display: flex;
    align-items: center;
    height: 70px;
    width: 135px;
}
#nome-canzone-foot{
    color: white;
}
#sub-foot{
    font-size: 9px;
    font-weight: bold;
}
.minuti{
    font-size: 9px;
    font-weight: bold;
    color: white;
}
.font-size-foot{
    font-size: 13px;
}
@media screen and (max-width:768px)   {
    
    .header-main{
        height: 80px;
        width: calc(100vw - 200px);
    }
    footer{
        height: 80px;
    }
    main{
        height: calc(100vh - 150px);
        width: calc(100vw - 200px);
    }
    .box{
        height: 7rem;
        width: 7rem;
    }
    .round-box{
        height: 7rem;
        width: 7rem;
    }
    img{
        height: 7rem;
        width: 7rem;
    }
    .padding-right-2rem{
        padding-right: .5rem;
    }
    .header-left{
        padding: 2rem 0rem 2rem .75rem;
        width:200px; 
    }
    .sub{
        font-weight: bold;
    }
    .navigation{
        width: calc(100vw - 200px);
        
    }
}
@media screen and (max-width:576px){
    .allineamento-box{
        align-items: center;
        
    }
    .header-main{
        height: 80px;
        width: calc(100vw - 200px);
    }
    footer{
        height: 80px;
    }
    main{
        height: calc(100vh - 150px);
        width: calc(100vw - 200px);
    }
    .box{
        height: 8rem;
        width: 8rem;
    }
    img{
        height: 8rem;
        width: 8rem; 
    }
    .round-box{
        height: 8rem;
        width: 8rem;
    }
    .padding-right-2rem{
        padding-right: .5rem;
    }
    .header-left{
        padding: 2rem 0rem 2rem .75rem;
        width:200px; 
    }
    .sub{
        font-weight: bold;
    }
    .navigation{
        width: calc(100vw - 200px);
        
    }
}